.ToastProvider {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-areas: "left center right";
  padding: 1.5rem;
  z-index: 1200;
}
